<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Newsletter</title>
</head>
<body>
<label>Tematy</label>
<form th:action="@{/inputData}" method="post" enctype="multipart/form-data">
    <ul>
        <li th:each="topic : ${topicTypes}">
            <input type="checkbox" name="topicValues" th:value="${topic}"/>
            <label th:text="${topic}"></label>
        </li>
    </ul>
    <label>Podaj email</label>
    <p><input type="text" name="email" id="email"/></p>
    <p><input type="submit" class="btn btn-success" value="Zapisz się"/></p>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

</body>
</html>